:root {
  --bg-color: #161616;
  --bg-color-2: #1e1e1f;
  --bg-color-3: #222223;
  --bg-spollers-color: rgba(255, 255, 255, 0.06);
  --white-color: #fff;
  --gray-color: rgba(255, 255, 255, 0.7);
  --btn-color: #f24e1e;
  --btn-hover-color: #9e0a0a;
}